[submodule "frontend"]
	path = frontend
	url = https://github.com/shim369/React-TypeScript-Laravel-Todo-App-Frontend.git
[submodule "backend"]
	path = backend
	url = https://github.com/shim369/React-TypeScript-SpringBoot-Todo-App-Backend.git
